<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>  merci d'avoir visité notre site </h1>
    <p>
      Vous avez fait une réservation en utilisant l'e-mail suivant : .
    </p>
    <p>
      Pour accéder à ton espace client, connecte-toi via : <%= @url %>.
    </p>
    <p> À très vite sur notre site !
  </body>
</html>