<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @client.first_name %> et bienvenue sur notre super site !</h1>
    <p>
      Tu t'es inscrit sur notre site en utilisant l'e-mail suivant : <%= @client.email %>.
    </p>
    <p>
      Pour accéder à ton espace client, connecte-toi via : <%= @url %>.
    </p>
    <p> À bientôt sur notre site !
  </body>
</html>