<h1>Restaurants#index</h1>
<p>Find me in app/views/restaurants/index.html.erb</p>
<%@restaurants.each do|restaurant|%>
<%=restaurant.image_url%>
<%=restaurant.name%>
<%=link_to "show", restaurants_show_path(restaurant.id)%>
<% end %>