<body id="index">

    <% @restaurants.each do|restaurant| %>
    <%= image_tag restaurant.image_url %>
    <%= restaurant.name %>
    <%= link_to "show", restaurant_path(restaurant.id) %>  </br>
    <% end %>

</body>