<!-- INSERT HTML HERE -->

<body class="bod">
<h2 class="title">Our Team</h2>


<div class="cards-container">
	<div class="card1"></div>
	<div class="card1"></div>
	<div class="card1"></div>
	<div class="card1"></div>
    <div class="card1"></div>
    <div class="card1"></div>
</div>

<!-- SOCIAL PANEL HTML -->
<div class="social-panel-container">
	<div class="social-panel">
		<p>Created with <i class="fa fa-heart"></i> by
			<a target="_blank" href="https://florin-pop.com">Florin Pop</a></p>
		<button class="close-btn"><i class="fas fa-times"></i></button>
		<h4>Get in touch on</h4>
		<ul>
			<li>
				<a href="https://twitter.com/florinpop1705" target="_blank">
					<i class="fab fa-twitter"></i>
				</a>
			</li>
			<li>
				<a href="https://instagram.com/florinpop17" target="_blank">
					<i class="fab fa-instagram"></i>
				</a>
			</li>
			<li>
				<a href="https://facebook.com/florinpop17" target="_blank">
					<i class="fab fa-facebook"></i>
				</a>
			</li>
			<li>
				<a href="https://linkedin.com/in/florinpop17" target="_blank">
					<i class="fab fa-linkedin"></i>
				</a>
			</li>
		</ul>
	</div>
</div>

	<div id="all">
		<div class="nam">

		    <h3>Nambinina</h3>
		        <p class="fonct">Full-Stackp<p>
						<div class="descri">
								nambininag33k@gmail.com
						</div>
		</div>


		<div class="kin">

		    <h3>Ronick</h3>
		        <p class="fonct">Full-Stack</p>
						<div class="descri">
								michael77rakotovao@gmail.com
						</div>
		</div>

		<div class="aro">

		    <h3>Aro</h3>
		        <p class="fonct">Full-Stack
						<div class="descri">
								arorakotonindrina12@gmail.com
						</div>
		</div>

		<div class="menja">

		    <h3>Menja</h3>
		        <p class="fonct">Full-Stack</p>
						<div class="descri">
								rakotomenja@gmail.com
						</div>
		</div>

		<div class="chris">

		    <h3>Chris</h3>
		        <p class="fonct">Full-Stack</p>
						<div class="descri">
								chrisleon325@gmail.com
						</div>
		</div>

		<div class="tsiry">

		    <h3>Tsiry</h3>
		       <p class="fonct"> Front-End</p>
						<div class="descri">
								tsiry.razanakoto@gmail.com
						</div>
		</div>
	</div>

</body>
