/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*= require bootstrap
*= require font-awesome.min
*= require jquery-ui
*= require normalize
*= require picto-foundry-food
*= require style-portfolio
*= require style
*= require demo
*= require footer-distributed-with-address-and-phones
*= require profil




 *= require_tree .
 *= require_self
 */

#alignement{
    position: relative;
    top:-90px;
}

 
div.dropdown-content > a{
    text-decoration: none;
    position: relative;
}

#round{
    border-radius: 50px;
    width: 40px;
    height: 40px;
    position: relative;
    bottom:10px;
}
form#wrp{
    display: flex;
    padding:1px;
}

#text{
    margin-top: -9em;
    background-color: rgba(32, 32, 32, 0.548);
    border-radius: 0px 56px 0px 66px;
    padding: 20px;
    width:23em;
}
body#reserve-table{
    background-image: url("https://images.pexels.com/photos/696218/pexels-photo-696218.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-attachment: scroll ;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
}
#reserve h2{
    text-align: center;
    font-family: verdana;
    font-style: italic;
    font-size: 3em;
    color: rgb(202, 121, 16);
}

#reserve p{
    color: white;
}

#pdp{
    width: 20em;
    height: 15em;
    margin-left: 51px;
}

div.image-index{
    width:22em;
}

#align-avatar{
    height: 22px;
}