#command{
  background-color: #E6E6FA;
}

#comtitle{
  background-color: #C0C0C0;
}

#main{
  margin-bottom: 8px;
  margin-left: 8px;
}

.card-title {
    color: Black;
}

.allcom{
  display: flex;
  flex: wrap;
}
.table{
    background-color:#fff;
    box-shadow:0px 2px 2px #aaa;
    margin-top:50px;
}
#text{
	margin-top: 10px;
}
