
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  bottom:-72px;
  right: -59px;
  height: 85px;
  min-width: 135px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-top: 2px solid rgb(19, 173, 27);
  text-decoration: none;
  background-color: rgba(29, 28, 28, 0.788);
  
}
.dropdown-content > a{
  margin-top: 15px;
  text-decoration: none;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #333333;
  padding:10px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3b4e3b;
}


