// Place all the styles related to the menus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.menu{

    position: absolute;
    left: 35%;
    top: 20%;


}
.menucateg{
    background-image: url(fondMenu.jpeg);
    background-size: cover;
}


.categ {
    text-emphasis: 10em;
    color: white;
    font-size: 245%;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}






@import url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');

@font-face {
  font-family: moon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/moon.ttf);
}

@font-face {
  font-family: clipneon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/clip.ttf);
}

@font-face {
  font-family: lasenter;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/lasenter.ttf);
}
html,
//   body {
//     background-color: black;
//     display: table;
//     height: 100%;
//     margin: 0;
//     overflow: hidden;
//     padding: 0;
//     width: 100%;
//   }

  #container {
    display: table-cell;
    // text-align: center;
    vertical-align: middle;
  }

  .sign-one {
    padding-top: 3.5vw;
    padding-right: 4vw;
    font-family: lasenter;
    font-size: 5vw;
    line-height: 4vw;
    // padding-top: ;
    text-shadow:
    .1vw 0vw .25vw #28D7FE, .2vw 0vw .25vw #28D7FE, .4vw 0vw .25vw #28D7FE,
    .1vw 0vw .1vw #1041FF, .2vw 0vw 0vw #1041FF, .4vw 0vw 0vw #1041FF,
    .1vw 0vw .1vw #1041FF, .2vw 0vw .1vw #1041FF, .4vw 0vw 0vw #1041FF,
    .1vw 0vw .8vw #1041FF, .2vw 0vw .8vw #1041FF, .4vw 0vw .8vw #1041FF, .2vw 0vw .5vw #1041FF,
    .1vw 0vw .5vw #1041FF, .2vw 0vw .5vw #1041FF, .4vw 0vw .5vw #1041FF,
    .1vw 0vw 10vw #1041FF, .2vw 0vw 10vw #1041FF, .4vw 0vw 10vw #1041FF;
    color: #28D7FE;

  }

  .restaurant {

    -ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
    color: #28D7FE;
    font-family: lasenter;
    font-size: 9vw;
    transform: rotate(-10deg);
    margin-left: 30vw;
    margin-top: 19vw;
    text-shadow:
    .1vw 0vw .25vw #28D7FE, .2vw 0vw .25vw #28D7FE, .4vw 0vw .25vw #28D7FE,
    .1vw 0vw .1vw #1041FF, .2vw 0vw 0vw #1041FF, .4vw 0vw 0vw #1041FF,
    .1vw 0vw .1vw #1041FF, .2vw 0vw .1vw #1041FF, .4vw 0vw 0vw #1041FF,
    .1vw 0vw .8vw #1041FF, .2vw 0vw .8vw #1041FF, .4vw 0vw .8vw #1041FF, .2vw 0vw .5vw #1041FF,
    .1vw 0vw .5vw #1041FF, .2vw 0vw .5vw #1041FF, .4vw 0vw .5vw #1041FF,
    .1vw 0vw 10vw #1041FF, .2vw 0vw 10vw #1041FF, .4vw 0vw 10vw #1041FF;
    margin-bottom: 15%;
  }





