.bg-nav{
    background-color: rgba(27, 26, 26, 0.849);
    font-size: 20px;
    text-transform: lowercase;
    position: fixed;
}
#acc{

    font-family: Verdana;
    color: rgb(247, 191, 8);
    font-size: 25px;
    font-style: italic;
}
#menu{
    background-color: rgba(27, 26, 26, 0.849);
}
#menu a{
    font-size: 19px;
    color: white;
}

#menu :hover{
    background-color: rgb(0, 0, 0);
}
