/*body#editresto{
  color: #999;
  background-image: url(sign-in.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
}*/
.container1{
  width: 400px;
  margin: 0 auto;	
  padding: 100px 10px;	
}

div.resto-header > h5,p {
 color: black;
}


