
body#sign-in-gerant{
  color: #999;
  background-image: url(https://www.africarising.tv/wp-content/uploads/edd/2018/03/African-stock-video-of-a-black-chef-with-healthy-salad-food-and-chalk-social-media-icons-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
  font-size: 16px; 
  font-weight: 400; 
  line-height: 28px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}



.form-control{
  min-height: 41px;
  box-shadow: none;
  border-color: #e1e1e1;
}

.form-control:focus{
  border-color: #00cb82;
}	

.form-control, .btn{        
  border-radius: 3px;
  }

.form-header-gerant{
  background: rgba(26, 25, 25, 0.5);
  border-bottom: 1px solid rgb(0, 255, 242);
  color: #00cb82;
  border-radius: 20px;
  margin-right: 25em;
  margin-left: 9em;
  margin-top: 4em;
  padding:65px 65px 0px 65px;
}
.form-header-gerant h2{
  font-size: 34px;
  font-weight: bold;
      margin: 0 0 10px;
  font-family: 'Pacifico', sans-serif;
  }

.form-header-gerant p{
  margin: 20px 0 15px;
  font-size: 17px;
  line-height: normal;
  font-family: 'Courgette', sans-serif;
  color: white;
}

  .signup-form-gerant{
  margin: 0 auto;	
  padding: 30px 0;	
}

  .signup-form-gerant form{
    color: rgb(255, 255, 255);
    border-radius: 3px;
    margin-bottom: 15px;
    background: #383838c5;
    padding: 30px;
  }

.signup-form-gerant .form-group{
  margin-bottom: 20px;
}		

.signup-form-gerant label{
  font-weight: normal;
  font-size: 13px;
}

  .signup-form-gerant input[type="checkbox"]{
  margin-top: 2px;
}

  .signup-form-gerant .btn{        
      font-size: 16px;
      font-weight: bold;
  background: #00cb82;
  border: none;
  min-width: 200px;
  }

.signup-form-gerant .btn:hover, .signup-form-gerant .btn:focus{
  background: #00b073 !important;
      outline: none;
}

  .signup-form-gerant a{
  color: #00cb82;		
}

  .signup-form-gerant a:hover{
  text-decoration: none;
}

div.form-header-gerant > h2,p {
  text-align: center;
}

div#ligne > a{
  text-decoration: none;
  margin-left: 7em;
}