<body>
  <h1 id="title-table">Voici la liste de votre commande</h1>

  <table class="table" id="table-command">
      <thead >
        <tr>
          <th >Menus</th>
          <th >Répas</th>
          <th >Quantités</th>

        </tr>
      </thead>

    <tbody>
        <% @tab.each do |tab| %>
            <tr>
              <td><%=tab.menu.category %></td>
              <td><%=tab.name%></td>
              <td><%=tab.join_com_foods[0].quantity%></td>
              <td>
                <%= link_to "Enlever de la liste",command_path(@command.id) ,method: :delete , class: "btn btn-outline-warning" , style: "width:auto"%>
              </td>
            </tr>
        <%end%>


    </tbody>
  </table>
</body>
